<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>

      <div class="card text-center">
        <div class="card-header">
          <h1 class="fw-light">Seller Page</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <br>
          <a href="/" class="btn btn-secondary ml-3">Home</a>
          <a href="../addproducts" class="btn btn-success ml-3">Add Product</a>
        </div>
        
      </div>


      <div class="album py-5 bg-light ">
        <div class="container ">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
            <% products.forEach(function(result){ %>
              <div class="col card-group d-flex ">
                <div class="card shadow-sm">
                  <img class="img-fluid" src="<%= result.image %>" />
                  <h3 class="card-title m-2">
                    <%= result.name %>
                  </h3>
                  <div class="card-body">
                    <p class="card-text">
                      Price: <%= result.price %>
                    </p>
                    <p class="card-text">
                      <%= result.description %>
                    </p>
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="btn-group ">
                        <a class="btn btn-success edit" href="../editproduct/<%= result.ID %>">Edit</a>
                        <a class="btn btn-danger delete" onclick="return alert('Are You sure?')"
                          href="../deleteproduct/<%= result.ID %>">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>