
  <%- include('./include/header.ejs'); %>

  <div class="jumbotron text-center">
    <h1>Products</h1>
  </div>
    

    <h2>Products list</h2>

  <div class="card-group">
    <% products.forEach(function(result){ %>
    <div class="card m-5">
        <% if(title === 'Shop'){ %>
      <img src="<%= result.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= result.name %></h5>
        <% } else {%>
            <img class="img-fluid" src="<%= result.image %>" />
            <h4 class="card-title"><%= product.title %></h4>
          <% } %>
        <p class="card-text">Price: ₹<%= result.price %></p>
        <a href="#" class="card-link"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</a>
    </div>
    </div>
    <% }); %>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="../index.js"></script>

</body>
</html>