<%- include('./include/header.ejs'); %>

  <!-- <div class="text-center">
    <img src="/Baner.jpg" class="Banner" />
  </div> -->

    <h2 class="m-5">Products list</h2>

  <div class="card-group m-3">
    
      <div class="row row-col-3">
        <% products.forEach(function(result){ %>
    <div class="card m-5 col-2">
        <% if(title === 'Shop'){ %>
          <a href="/description/<%= result.ID %>"><img src="<%= result.image %>" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">
              <%= result.name %>
            </h5>
            <% } else {%>
              <img class="img-fluid" src="<%= result.image %>" />
              <h4 class="card-title">
                <%= product.title %>
              </h4>
              <% } %>
                <p class="card-text">Price: <%= result.price %>
                </p>
                <a href="/add_to_cart/<%= result.ID %>" class=" btn-primary><i class=" fa fa-cart-plus"
                  aria-hidden="true"></i> Add to cart</a>
                <input type="hidden" name="prd_id" value="<%= result.ID %>">
          </div>
      </div>
      <% }); %>
  </div>

  <%- include('./include/footer.ejs'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../index.js"></script>